.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.home-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Space between image and search bar */
}

.search-input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 300px; /* Set a width for the search input */
}

.search-btn {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ff3366;
    color: white;
    cursor: pointer;
    margin-left: 10px; /* Space between input and button */
}

.search-btn:disabled {
    background-color: #999; /* Style for disabled state */
}

